- name: app-setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: install python
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - python3 
  - gcc 
  - python3-devel

  - name: install dependencie
    ansible.builtin.pip:
      requirements: requirements.txt
      executable: pip3.9 # To install dependencies mentioned in requirements.txt file using pip3.9
    args:
      chdir: /app

  - name: systemd-setup
    ansible.builtin.import_role:
      name: common
      tasks_from: systemd-setup.yaml

  - name: start payment
    ansible.builtin.service:
      name: payment
      state: restarted
      enabled: yes

