- name: install python packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - python3 
  - gcc 
  - python3-devel

  - name: install dependencies
    ansible.builtin.pip:
      requirements: requirements.txt
      executable: pip3.9 # To install dependencies mentioned in requirements.txt file using pip3.9
    args:
      chdir: /app